body {
    width: 100%;
    margin: 0 auto;
    font-family: 'roboto', sans-serifgi;
}

/*elements*/

h3 {
    display: flex;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 auto;
}

p {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}

img {
    border-radius: 15px;
}

/* HEADER SECTION ClASS's */

.header {
    display: flex;
    height: 64px;
    position: fixed;
    z-index: 100;
    background-color: whitesmoke;
    width: 100%;
}

.logo {
    display: flex;
    position: inherit;
    height: 48px;
    align-items: center;
} 

.name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 14px;
    top: 5px;
}

.linksbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 30px
}

.linksbox button {
    background-color: darkslategray;
    color: whitesmoke;
    font-family: 'roboto', sans-serif;
    width: 50px;
    height: 20px;
    border-radius: 10px;
}

.link {
    padding: 1rem;
    text-decoration: none;
    color: darkslategray;
}

/* main body class's */

.bigbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 64px;
    width: 100%;
}

.light {
    background-color: whitesmoke;
    height: 595px;
}

.dark {
    background-color: lightgray;
    height: 580px;
}

.container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    height: 90%;
    position: relative;
}

.imgbox {
    height: 100%;
    width: 60%;
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.infobox {
    height: 100%;
    width: 40%;
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
} 

.infobox button {
    width: 85%;
    height: 3rem;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: large;
    background-color: darkslategray;
    color: whitesmoke;
    border-radius: 15px;
    margin: 0 auto;
}

.bigimg {
    flex-shrink: 2;
    width: 95%;
    border-radius: 15px;
}

.thumbox {
    width: 95%;
    min-width: 300px;
    height: inherit;
    display: flex;
    align-content: center;
    align-items: center;
    flex-shrink: 2;
}
    
.info {
    padding: 1rem;
    text-align: center;
    width: 275px;
    min-width: 200px;
    flex-shrink: 2;
}

.smlimgbox {
    width: 130px;
}

.smlimg {
    border-radius: 30px;
    width: 100%;
    max-height: 160px;
    min-height: 60px;
    min-width: 60px;
    flex-shrink: 3;
    padding: 1rem;
}

.campus {
    background-color: lightgray;
    border-radius: 30px;
}

#colmar {
    color: darkslategray;
}

#acadamy {
    color: darkgray;
}



