
/* CSS Structure = Elements, Header Section, Main Body Class's, ID's*/


body {
    width: 100%;
    margin: 0 auto;
    font-family: 'roboto', sans-serifgi;
}

/*ELEMENTS*/

h1 {
    margin: 0 auto;
    color: rgb(1, 27, 27);
    font-weight: 900;
    text-align: center;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: rgb(1, 27, 27);
}

h3 {
    display: flex;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 5px;
}

p {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}

img {
    border-radius: 15px;
}

a {
    color: darkslategray;
    font-weight: bold;
}

.footer {
    height: 64px;
    Top: 64px;
    left: 5%;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkgray;
}

.footer a {
    text-decoration: none;
    color: darkgray;
    font-weight: 400;
}

/* HEADER SECTION ClASS's */

.header {
    display: flex;
    height: 64px;
    position: fixed;
    z-index: 100;
    background-color: whitesmoke;
    width: 100%;
}

.logo {
    display: flex;
    position: inherit;
    height: 48px;
    align-items: center;
    animation: rotation 800ms ease-out;
} 

.name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 14px;
    top: 5px;
}

.linksbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 30px
}

.linksbox button {
    background-color: darkslategray;
    color: whitesmoke;
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    width: 65px;
    height: 25px;
    border-radius: 10px;
    padding-left: 4px;
    margin-left: 15px;
    margin-right: 10px;
}

.link {
    padding: 1rem;
    text-decoration: none;
    color: darkslategray;
}

/* MAIN BODY CLASS's */

.bigbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 64px;
    width: 100%;
}

.light {
    background-color: whitesmoke;
    height: 615px;
}

.dark {
    background-color: lightgray;
    height: 575px;
}

.dark2 {
    background-color: lightgray;
    height: 730px;
}

.container {
    display: inline-flex;
    width: 98%;
    height: 90%;
    position: relative;
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
        overflow: scroll;
        align-items: center;
    }

    #buttonmob {
        width: 450px;
    }
    
    #infoboxmob {
        width: 375px;
        padding-left: 15px;
        align-items: center;
        background-color: darkgray;
        border-radius: 30px;
    }

    #infoboxmob2 {
        width: 482px;
        padding-left: 15px;
        padding-top: 15px;
    }

    #imgboxmob {
        width: 450px;
    }

    #imgboxmob2 {
        width: 450px;
        padding-bottom: 15px;
    }

    #vidboxmob {
        width: 450px;
    }

    #box4 {
        height: 860px;
    }

    #colmar {
        display: none;
    }
} 

.container2 {
    width: 98%;
    height: 90%;
    position: relative;
}

.imgbox {
    height: 100%;
    width: 60%;
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.infobox {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-right: 1rem;
} 

.infobox2 {
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
} 

.infobox button {
    width: 85%;
    height: 3rem;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: large;
    background-color: darkslategray;
    color: whitesmoke;
    border-radius: 15px;
    margin: 0 auto;
}

.bigimg {
    width: 95%;
    border-radius: 15px;
}

.thumbox {
    width: 95%;
    min-width: 300px;
    height: inherit;
    display: flex;
    align-content: center;
    align-items: center;
}
    
.info {
    padding: 1rem;
    text-align: center;
    width: 275px;
    min-width: 200px;
}

.smlimgbox {
    width: 160px;
}

.smlimg {
    border-radius: 30px;
    width: 100%;
    max-height: 160px;
    min-height: 60px;
    min-width: 60px;
    padding: 1rem;
}

.campus {
    background-color: lightgray;
    border-radius: 30px;
}

.wrapbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    max-height: 600px;
    margin: 2rem auto;
    position: relative;
    overflow: scroll;
    background-color: whitesmoke;
    border-radius: 30px;

}

.wrapimg {
    flex-shrink: 2;
    width: 260px;
    height: 250px;
    background-color: white;
    text-align: center;
    margin: 10px 10px;
    border-radius: 15px
}

.wrapimg img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

/*ID's*/

#colmar {
    color: darkslategray;
}

#acadamy {
    color: darkgray;
}



